<h1>Enter a username and password to create an account.</h1>

<form method = "post" action="/users">
  <label> username </label>
  <input type="text" name="username">
  <label> password </label>
  <input type="password" name="password">

  <input type="submit" value="submit">

</form>
