<!doctype html>
<html>
<div align="center">
  <head>
    <h1>Welcome <%=@user.username%>!</h1>
    <br>
    <h4>Hear are your current rooms and colors:</h4>
    <br>
  </head>

  <body>

    <table class="table">
    <style>
    table, th, td {border: 1px solid blue;
    }
    </style>
      <tr>
        <th scope="col">Room</th>
        <th scope="col">Brand</th>
        <th scope="col">Color</th>
        <th scope="col">Sheen</th>
      </tr>
      <tr>
        <td>January</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>February</td>
        <td>$80</td>
      </tr>
    </table>
    <br>
    <p> Add More Rooms <a href="/rooms/new"> Here </a>
  </body>
</div>
</html>
