<!doctype html>
<html>
<div align="center">

    <% if @rooms == [] %>
      <h2> You currently do not have any rooms added </h2>
      <p> To begin, start <a href="/rooms/new"> Here </a>
    <% else %>
      <h1>To view all of your rooms, please click <a href="/rooms/index">Here</a> </h1>
    <% end %>


</div>
</html>
