<!doctype html>
<html>
  <head>
    <h1>Welcome <%=@user.username%>!</h1>
    <br>
    <h4>Hear are your current rooms and colors:</h4>
  </head>
  <body>

    <!-- Page contents go here -->

  </body>
</html>
