<div align="center">
<h1>Please create an account below:</h1>

<form method= "post" action="/signup">
  <p>
    <label> Username:
      <br>
      <input type="text" name="username" required>
    </label>
  </p>
  <p>
    <label> Password:
      <br>
      <input type="password" name="password" required>
    </label>
  </p>

  <p>
    <input type="submit"  value="Sign Up">
    <button onclick="location.href='/'" type="button">Cancel</button>
  </p>

</form>
</div>
