<h1>Enter a username and password to create an account.</h1>

<form method= "post" action="/signup">
  <p>
    <label> Email
      <br>
      <input type="text" name="email">
    </label>
  </p>
  <p>
    <label> Username
      <br>
      <input type="text" name="username">
    </label>
  </p>
  <p>
    <label> Password
      <br>
      <input type="password" name="password">
    </label>
  </p>

  <p>
    <input type="submit"  value="Sign Up">
  </p>

</form>
