<div align="center"><h1><strong>Update your room here:</strong></h1>

<form action="/rooms/<%= @room.id%>" method="post">
  <input type="hidden" name="_method" value="patch">

	<div class="form-group">
			<label for="name">Room:</label>
			<input name="name" type="text" required>
	</div>
<br>
	<div class="form-group">
			<label for="color">Color:</label>
			<input name="color" type="text" required>
	</div>
	<br>
	<div class="form-group">
			<label for="brand">Brand:</label>
			<input name="brand" type="text">
	</div>
	<br>
	<div class="form-group">
			<label for="sheen">Sheen:</label>
			<input name="sheen" type="text">
	</div>
	<br>

	<button type="submit" class="btn btn-primary">Update</button>
  <button onclick="location.href='/users/<%= current_user.id %>'" type="button">Cancel</button>
</div>


</form>
