<div align="center">
	<h1><strong>Start planning your rooms here:</strong></h1></div>
</div>


<form action="/rooms" method="post">
	<div align="center">

	<div class="form-group">
			<label for="name">Room:</label>
			<input name="name" type="text">
	</div>
<br>
	<div class="form-group">
			<label for="color">Color:</label>
			<input name="color" type="text">
	</div>
	<br>
	<div class="form-group">
			<label for="brand">Brand:</label>
			<input name="brand" type="text">
	</div>
	<br>
	<div class="form-group">
			<label for="sheen">Sheen:</label>
			<input name="sheen" type="text">
	</div>
	<br>

	<button type="submit" class="btn btn-primary">Submit</button>
</div>

</form>
