<h1>Room Added Succesfully!</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Room</th>
			<th scope="col">Brand</th>
      <th scope="col">Color</th>
      <th scope="col">Sheen</th>
		</tr>
	</thead>
	<tbody>

		<tr>
			<td><%= @room.name %></td>
			<td><%= @room.brand %></td>
      <td><%= @room.color %></td>
      <td><%= @room.sheen %></td>
		</tr>
	</tbody>
</table>
