

            <h1>Welcome to your Home Paint Manager!</h1>
            <h2>A place to keep track of your home's wall colors</h2>
            <h3><a href="/signup">Signup</a> now or <a href="/login">Login</a></h3>
