<div align="center">
  <h1>Welcome to your Home Paint Manager!</h1>
  <p>This app is a place to keep track of your home's wall colors for the future</p>
  <h3><a href="/signup">Signup</a> now or <a href="/login">Login</a></h3>
</div>
