<div align="center">
  <h1>Welcome to your Home Paint Manager!</h1>
  <p>Here you can keep track of the wall colors in your home for furture reference</p>
  <h3><a href="/signup">Signup</a> now or <a href="/login">Login</a></h3>
</div>
